<% if !current_user %>
  <%= link_to 'Sign Up', signup_path %>
  <%= link_to 'Log In', login_path %>
<% else %>
  <%= link_to 'Log Out', logout_path %>
<% end %>

<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<div id="links-list"></div>

<h2>URLockBox</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read.url %>"><%= read.url %></a>
  </li>
<% end %>
</ol>
