<% if !current_user %>
  <%= link_to 'Sign Up', signup_path, style: 'position: absolute; right: 20px; top: 10px;' %>
  <%= link_to 'Log In', login_path, style: 'position: absolute; right: 100px; top: 10px;' %>
  <div class="container">
    <h1 class="center-header">URLockBox</h1>
  </div>
<% else %>
  <%= link_to 'Log Out', logout_path, style: 'position: absolute; right: 20px; top: 10px;' %>
  <div class="container">
    <h1 class="center-header", data-userId="<%=current_user.id%>">URLockBox</h1>
  </div>
  <form id="new-link">
    <label>URL:
      <input id="link-url">
    </label>
    <label>Title:
      <input id="link-title">
    </label>
    <input type="submit" value="Add Link">
  </form>

  <div id="links-list"></div>

  <ol id="hot-reads">
    <% @hot_links.each do |read| %>
    <li class='hot-read'>
      <a href="<%= read.url %>"><%= read.url %></a>
    </li>
    <% end %>
  </ol>
<% end %>
